body 
{
    margin: 0;
    background-image: url(./images/uuunion.svg);
    background-size: cover;
  
}

.layoutholder
{
    display: flex;
    flex-direction: column;

  
    
    
}

header 
{
    display: flex;
    margin: 100px;
    align-items: center;
    

}
.aboutme 
{
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 1rem;
}
.aboutme a 
{
    font-family: playfair;
    float: right;
}
.catimg
{
    height: 20em;
    width: auto;
    margin: 0 auto;
    
}
.imagewrapper
{
    position: relative;
    
}
.nametitle
{
  position: absolute;
  bottom: 0;
  width: 100%;
    text-align: center;
  font-size: 2rem;
  color: white;
  font-family: Roboto;
   
}



main h2
{
        margin-left: 2rem;
}


footer {
    background-color: lightblue;
}

.footerlayout 
{
    display: flex   ;
    flex-direction: row;
    margin: 100px;

    
}
.footerlayout section 
{
    margin-right: 15rem;
    
}
.footerlayout img
{
    width: 30rem;
    height: auto;
    transform: translateX(-2rem);
}

.footertext img
{
    width: 2rem;
    height: auto;
    transform: translateY(22%);

}

a  
{
    text-decoration: none;
    margin-left: 5px;
    
}
.footertext 
{


}
main h2
{
         margin: 0 100px 0 100px;
}
main 
{
    background-color: white;
    padding: 2rem 0 2rem 0rem;
}
.projectlayout
{
    display: flex;
    flex-wrap: wrap;


    gap: 2rem;
         margin: 20px 100px 0 100px;
     
}

.projectname
{
     font-size: 1.2rem;
     font-weight: bold;
}

.projectcard
{
       max-width: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;

   
    
}

.projectimage
{
    
  width: 100%;
  height: 200px;
    background-color: red;
}
.projectimage h2
{
    margin-top: 20%;
    margin-bottom: 20%;
}
.projectinfoholder
{
    padding: 1rem;
}

.projectlinkimage 
{
    transform: translateY(3px);
}

@media (min-width: 800px) and (max-width: 1030px) {
    body 
    {
        background-color: red;
    }


    .projectlayout {
    margin: 20px 20px 0 20px;
    }
    .projectcard
    {
    
    }

    main
    {
        margin: 0;
    }
}

@media (max-width: 799px) {
 
header 
{
 flex-flow: column;
 margin: 60px;
 padding: 70px;
    width: 250px;  
    align-items: center;
 

}
.aboutme
{;
    
}


main
{
    padding: 12px;
}

.catimg 
{
    width: 300px;
    height: auto;
}
.footerlayout 
{

    flex-direction: column;
   margin: 20px;
    margin-right: 0;
justify-content: center;
    
}
.footertext 
{
    padding-bottom: 2rem;
    margin: 0;
    width: 200px;
}

.footerlayout section
{
    margin-right: 0;
}

    .projectlayout {
           margin: 0;
    }

main
{
    max-width: 350px;
}

    main h2 
    {
        text-align: left;
        margin-bottom: 20px;
    }

    .projectcard
    {
    
    }

    header 
    {
        padding: 0;
        margin: 0;
    }
    .footerlayout .bottomcat

    {
    width: 200px;    
    }
}