body 
{
    margin: 0;
    background-image: url(./images/uuunion.svg);
    background-size: cover;
  
}

.layoutholder
{
    display: flex;
    flex-direction: column;

  
    
    
}

header 
{
    display: flex;
    margin: 100px;
    align-items: center;
    

}
.aboutme 
{
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 1rem;
}
.aboutme a 
{
    font-family: playfair;
    float: right;
}
.catimg
{
    height: 20em;
    width: auto;
    margin: 0 auto;
    
}
.imagewrapper
{
    position: relative;
    
}
.nametitle
{
  position: absolute;
  bottom: 0;
  width: 100%;
    text-align: center;
  font-size: 2rem;
  color: white;
  font-family: Roboto;
   
}

main 
{
    background-color: white;
    padding: 2rem 0 2rem 0rem;
}

main h2
{
        margin-left: 2rem;
}


footer {
    background-color: lightblue;
}

.footerlayout 
{
    display: flex   ;
    flex-direction: row;
    margin: 100px;

    
}
.footerlayout section 
{
    margin-right: 15rem;
    
}
.footerlayout img
{
    width: 30rem;
    height: auto;
    transform: translateX(-2rem);
}

.footertext img
{
    width: 2rem;
    height: auto;
    transform: translateY(22%);

}

a  
{
    text-decoration: none;
    margin-left: 5px;
    
}
.footertext 
{


}
main h2
{
         margin: 0 100px 0 100px;
}
.projectlayout
{
    display: flex;
    flex-wrap: wrap;
    
    gap: 2rem;
         margin: 20px 100px 0 100px;
     
}

.projectname
{
     font-size: 1.2rem;
     font-weight: bold;
}

.projectcard
{
       max-width: 320px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;

   
    
}

.projectimage
{
    
  
    background-color: red;
}
.projectinfoholder
{
    padding: 1rem;
}

.projectlinkimage 
{
    transform: translateY(3px);
}